.jumbotron {
	background-color: yellow;
	color: black;
	margin-top: 56px ;
	margin-bottom: 10px;
	padding: 15px 10px 15px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: yellow;
	color: black;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-tareas {
	flex: 1 200px;
	padding: 2px 0px 2px 0px;
	margin-top: 10px;

}


.btn-consultar {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}

.bi {
	padding-right: 10px;
	color: black;
	font-size: 1.8rem;
	vertical-align: -.125em;
}

.margin {
	margin-top: 10px ;
	margin-bottom: 40px;
	padding: 3px 50px 3px;
}

.search {
	padding: 3px 30px 3px;
}

.img-fluid {
	width: 100%;
	height: 350px;
}

.card-img-top {
	width: 100%;
	height: 200px;

}

.tab-content {
	padding-top: 10px;
}